<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Form Page</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h1>This is the Bill Form Page</h1>
<p>This is the Paragraph in the Bill Form Page</p>
<form action="/results" method="post">

    {{billform.amount.label}} {{billform.amount}}
    <br>
    {{billform.period.label}} {{billform.period}}
    <hr>
    <p>First Flatmate:</p>
    {{billform.name1.label}} {{billform.name1}}
    <br>
    {{billform.days_in_house1.label}} {{billform.days_in_house1}}
    <hr>
    <p>Second Flatmate:</p>
    {{billform.name2.label}} {{billform.name2}}
    <br>
    {{billform.days_in_house2.label}} {{billform.days_in_house2}}
    <br>

    {{billform.button}}
</form>

</body>
</html>